<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avinash Savita</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/aos.css">
    <link rel="stylesheet" href="static/line-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    
</head>


            <a href="{% url 'index' %}" class="btn btn-brand me-1">back to main page</a>
            
    

    <!-- //NAVBAR -->
    <embed src="static/Avinash Savita.pdf" type="application/pdf" style="padding: left 200px;;" width="100%" height="700px" />



    
</body>
</html>