
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avinash_Savita</title>
   
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/aos.css">
    <link rel="stylesheet" href="/static/css/line-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container flex-lg-column">
            <a class="navbar-brand mx-lg-auto mb-lg-4" href="#">
                <span class="h3 fw-bold d-block d-lg-none">Avinash</span>
                <img src="/static/img/person.jpg" class="d-none d-lg-block rounded-circle" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">

                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Skill">Skill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="#Certificate">Certificate</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ACADEMIC_ACHIEVEMENTS">ACADEMIC_ACHIEVEMENTS</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- //NAVBAR -->

    <!-- CONTENT WRAPPER -->
    <div id="content-wrapper">

        <!-- HOME -->
        <section id="home" class="full-height px-lg-5">

            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h1 class="display-4 fw-bold" data-aos="fade-up">I'M  <span class="text-brand">Avinash Savita</span> FROM KANPUR, INDIA</h1>
                        <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">To secure a challenging position in a reputable organization to expand
                            my learnings, knowledge, and skills, that will help in my personal
                            growth as well as the growth of the organization</p>
                        <div data-aos="fade-up" data-aos-delay="600">
                            <li  class="btn btn-brand me-3" style="background-color: rgb(164, 219, 122);">Full Stack developer</li>
                            <li  class="btn btn-brand me-3" style="background-color:aquamarine">Cyber Security </li>
                            <a href={% url 'cv'%} class="btn btn-brand me-3">MyCV</a>
                        </div>
                        <div data-aos="fade-up" data-aos-delay="600" class="py-5">
                            <a href="#work" class="btn btn-brand me-3">Explore My Work</a>
                            <a href="#" class="link-custom">Call: (+91) 9284937714</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- //HOME -->

        <!-- Skill -->


        <section id="Skill" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">Skill</h6>
                        <h1> My Skill </h1>
                    </div>
                </div>
            <div class="row">
              <div class="col-md-6">
                <h3>Front-end Skills</h3>
                <ul class="list-group">
                  <li class="list-group-item " data-aos="fade-up" style="background: linear-gradient(to top, #e66465, #9198e5);">HTML5</li>
                  <li class="list-group-item " data-aos="fade-up" style="background: linear-gradient(to bottom, #e66465, #9198e5);">CSS3</li>
                  <li class="list-group-item " data-aos="fade-up" style="background: linear-gradient(to top, #e66465, #9198e5);">JavaScript</li>
                  <li class="list-group-item " data-aos="fade-up" style="background: linear-gradient(to bottom, #e66465, #9198e5);">bootstrap5</li>
                  <li class="list-group-item " data-aos="fade-up" style="background: linear-gradient(to top, #e66465, #9198e5);">React.js</li>
                </ul>
              </div>
              <div class="col-md-6">
                <h3>Back-end Skills</h3>
                <ul class="list-group">
                  <li class="list-group-item  " data-aos="fade-up" style="background: linear-gradient(to left, #e66465, #9198e5);">Python</li>
                  <li class="list-group-item " data-aos="fade-up" style="background: linear-gradient(to right, #e66465, #9198e5);">Django</li>
                  <li class="list-group-item "  data-aos="fade-up" style="background: linear-gradient(1deg, #e66465, #9198e5);">C</li>
                </ul>
              </div>
              <div class="col-md-6">
                <h3>Cyber Security Skills</h3>
                <ul class="list-group">
                  <li class="list-group-item "  data-aos="fade-up" style="background: linear-gradient(to left, #e66465, #9198e5);">Operating System</li>
                  <li class="list-group-item " data-aos="fade-up" style="background: linear-gradient(to right, #e66465, #9198e5);">Networking</li>
                  <li class="list-group-item  " data-aos="fade-up" style="background: linear-gradient(1deg, #e66465, #9198e5);">Linux</li>
                </ul>
              </div>


            </div>
            </div>
          </section>
          
       
        

        <!-- WORK -->
        <section id="work" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">WORK</h6>
                        <h1>My Recent Projects</h1>
                    </div>
                </div>

                <div class="row gy-4">

                    <div class="col-md-6" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="static/img/project-1.png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>ANIMAX ( Streaming Video Platform)</h4>
                                <p>Python, Django, HTML, CSS, JavaScript. Enjoy video on different
                                    topics</p>
                                <a href="#" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="static/img/project-2.png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Justice Sword Game ( Web Platform based Gaming Site)</h4>
                                <p>Developed using JavaScript, HTML, and CSS. Refresh your mind with this
                                    exciting game</p>
                                <a href="#" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="static/img/project-3.png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>OR Generator</h4>
                                <p>Using a html,css and JavaScript(API Calling) </p>
                                <a href="#" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="static/img/project-4.png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Web App calculator</h4>
                                <p> Using a html,css and JavaScript</p>
                                <a href="#" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- //WORK -->

        <!-- ABOUT -->
        <section id="about" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">ABOUT</h6>
                        <h1>My Education & Experiance</h1>
                    </div>
                </div>

                <div class="row gy-5">
                    <div class="col-lg-6">

                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Education</h3>
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Bachelor of Technology</h4>
                                    <p class="text-brand mb-2">Dr. A.P.J. Abdul Kalam Technical University (2019 - 2023)</p>
                                    <p class="mb-0">Computer Science Engineering</p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Intermediate</h4>
                                    <p class="text-brand mb-2"> Shri Guru Narayan Khatri Vidya Mandir Civil Line(2016-2018)</p>
                                    <p class="mb-0">physics ,maths and chemistry</p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4> Class 10</h4>
                                    <p class="text-brand mb-2">Shri Guru Narayan Khatri Vidya Mandir Civil Line</p>
                                    <p class="mb-0">Science side</p>
                                </div>
                            </div>

                        </div>

                    </div>

<div class="col-lg-6">

                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiance</h3>
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Full Stack developer</h4>
                                    <p class="text-brand mb-2">Fresher</p>
                                    <p class="mb-0">All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit</p>
                                </div>
                            </div>

                         

                           

                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- //ABOUT -->

        

        <!-- Certificate -->
        <section id="Certificate" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">Certificate</h6>
                        <h1>My Certificates</h1>
                    </div>
                </div>

                <div class="row gy-4">

                    <div class="col-md-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="static/img/blog-post-1.jpg" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <p class="text-brand mb-2"> 23 MAY,2023</p>
                                <h5 class="mb-4">Website Hacking/Penetration Testing</h5>
                                <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-0ebec2cc-0eb8-47af-9c61-44e737ddafa1.jpg" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="static/img/blog-post-2.png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <p class="text-brand mb-2">18 Feb, 2022</p>
                                <h5 class="mb-4"> Certificate in hackerrank Python(basic)</h5>
                                <a href="https://www.hackerrank.com/certificates/a313b0ebcce1" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="static/img/blog-post-3.png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <p class="text-brand mb-2">20 Dec, 2022</p>
                                <h5 class="mb-4">Certificate in hackerrank  Structured Query Language(basic)</h5>
                                <a href="https://www.hackerrank.com/certificates/4e719c5cb9ab" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- //Certificate -->



        <!-- ACADEMIC ACHIEVEMENTS -->
        <section id="ACADEMIC_ACHIEVEMENTS" class="full-height px-lg-5">
            <div class="container">

                <div class="row justify-content-center text-center">
                    <div class="col-lg-8 pb-4" data-aos="fade-up">
                        <h2 class="text-brand">ACADEMIC ACHIEVEMENTS</h2>
        
                    </div>
                    <div container>
                        <h4 data-aos="fade-up">5 Star Gold Badge in Problem Solving | HackerRank</h4>
                        <h4 data-aos="fade-up">5 Star in Python | HackerRank</h4>
                        <h4  data-aos="fade-up">5 Star in C | HackerRank</h4>
                        <h4  data-aos="fade-up">Solved 250+ Problem in Online Platforms (including HackerRank, GfG, Leetcode)
                        </h4>
                        <h4  data-aos="fade-up"><a href="https://www.hackerrank.com/1901640100086_E
                            ">HackerRank Profile</a></h4>
                    </div>

                    

            </div>
        </section>
       







        <!-- //ACADEMIC ACHIEVEMENTS -->


        <!-- CONTACT -->
        <section id="contact" class="full-height px-lg-5">
            <div class="container">

                <div class="row justify-content-center text-center">
                    <div class="col-lg-8 pb-4" data-aos="fade-up">
                        <h6 class="text-brand">CONTACT</h6>
                        <h1>Interested in working together? Let's talk
                        </h1>
                    </div>

                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                        <form action="" class="row g-lg-3 gy-3" >
                            {% csrf_token %}
                            {{form.as_p}}
                          <button type="submit" class="btn btn-brand">Contact me</button>
                            
                        </form>
                    </div>
                </div>


            </div>
        </section>
        <!-- //CONTACT -->

        <!-- FOOTER -->
        <footer class="py-5 px-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">Designed by <a href="#" class="fw-bold">Avinash Savita</a></p>
                        <p class="mb-0">Gmail: <a href="#" class="fw-bold">avinash2019psit@gmail.com</a></p>

                    </div>
                    <div class="col-auto">
                        <div class="social-icons">
                            
            
                            <a href="https://www.instagram.com/avinash.pd1"><img width="45" height="40" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
                            <a href="https://www.linkedin.com/in/avinash-savita-166508217/"><img width="45" height="40" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
                            <a href="https://github.com/avinashthetech"><img width="45" height="40" src="https://img.icons8.com/color-glass/48/github--v1.png" alt="github--v1"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //FOOTER -->

    </div>
    <!-- //CONTENT WRAPPER -->



    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/aos.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>